html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color-one);
    color: var(--primary-color);
}

:root {
    --primary-color: #56ff80;
    --complementary-color: #6341c3;
    --tertiary-color: #c36341;
    --text-light: #e7e7e7;
    --text-dark: #000000;
    --text-shadow: #454545;
    --background-color-one: #000000;
    --background-color-two: #1b1b1b;
}