.record {
    display: flex;
    /* align-items: center; */
    width: 100%;
    max-width: 600px;

    background-color: var(--background-color-two);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.record:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.mugshot {
    margin-right: 15px;
}

.details {
    display: flex;
    flex-direction: column;
}

.name {
    margin: 0;
    color: var(--primary-color);
}

.name:hover {
    color: var(--complementary-color);
}

.date {
    margin: 0;
    font-size: 0.9rem;
    color: var(--text-light);
}

.severity {
    font-weight: bold;
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid var(--text-shadow);
}

.felony {
    color: red;
}

.misdemeanor {
    color: yellow;
}