.record {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 500px;
  max-width: 680px;

  background-color: var(--background-color-one);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid var(--background-color-two);
}

.mugshotDetailsContainer {
  display: flex;
  width: 100%;
}

.footerAnalytics {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 5px;
  padding-top: 5px;
}

.analyticsIcon {
  color: var(--text-shadow);
  font-size: 1.5rem;
  margin-left: 5px;
}

.analytics {
  color: var(--text-shadow);
  font-weight: 500;
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.iconPair {
  display: flex;
  align-items: center;
}

.record:hover {
  transform: scale(1.02);
  cursor: pointer;
  background-color: var(--background-color-two);
}

.mugshot {
  margin-right: 15px;
}

.headerDetails {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
}

.alertStyle {
  color: var(--tertiary-color);
  margin: 5px;
}

.nameBox {
  /* contrain names to prevent names expanding record container */
  width: 400px;
}

.name {
  margin: 0;
  /* show ellipsis in space of extremely long names */
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--primary-color);
}

.name:hover {
  color: var(--complementary-color);
}

.date {
  margin: 0;
  font-size: 0.9rem;
  color: var(--text-light);
}

.severity {
  padding-right: 5px;
}

.felony {
  color: var(--tertiary-color);
}

.misdemeanor {
  visibility: hidden;
}

.charges {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  margin-top: 10px;
  color: var(--text-light);
}

.charge {
  margin: 0;
  font-size: 0.9rem;
}

.hiddenLink {
  /* remove the automatic link styling */
  text-decoration: none;
}

@media (max-width: 768px) {
  .record {
    min-width: 300px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background-color-one);

    margin: 0;

    border-radius: 0;
    border-bottom: 1px solid var(--background-color-two);
  }

  .hiddenLink {
    width: 100%;
  }

  .headerDetails {
    width: 300px;
  }

  .nameBox {
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}