.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.sortingLink {
  gap: 10px;
  padding: 5px 10px;
  border-radius: 10px;

  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}

.sortingLink:hover {
  background-color: var(--primary-color);
  color: var(--text-dark);
}

.active {
  color: var(--text-dark);
  background-color: var(--primary-color);
  box-shadow: 0 0 4px var(--primary-color);
}

.inactive {
  color: var(--complementary-color);
  background-color: var(--background-color-two);
  box-shadow: 0 0 4px var(--background-color-two);
}

@media (max-width: 768px) {
  .header {
    font-size: clamp(1.2rem, 5vw, 1.5rem);
  }

  .sortingLink {
    font-size: 0.8rem;
  }
}