.header {
  width: 100%;
  padding: 1rem 0;

  border-bottom: 1px solid var(--background-color-two);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
}

.attractor {
  filter: drop-shadow(0 0 5px var(--complementary-color));
  animation: glow 1.5s infinite, pulse 1.5s infinite;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 4px var(--complementary-color));
  }
  50% {
    filter: drop-shadow(0 0 12px var(--complementary-color));
  }
  100% {
    filter: drop-shadow(0 0 4px var(--complementary-color));
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.complementary {
  color: var(--complementary-color);
}

/* Make sure to change color of <sc> and <jail.io> when either are hovered! */
.logo:hover,
.logo:hover .complementary,
.link:hover {
  color: var(--text-light);
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: var(--text-shadow);
  margin: 10px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .header {
    padding: 0;
  }
}

