.container {
    min-height: 95vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
    color: #fff;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 5rem;

    font-style: bold;
    text-align: center;
    color: var(--primary-color);
}

.search {
    margin-top: 2rem;
}

.search input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
    background-color: #262626;
    border: 1px solid var(--secondary-color);
    color: var(--tertiary-color);
}

.search button {
    padding: 10px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    border: 1px solid var(--quaternary-color);
    cursor: pointer;
}

.search button:hover {
    background-color: var(--quaternary-color);
    color: #0d0d0d;
}

.icons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconImage {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.iconImage:hover {
    transform: scale(1.1);
}

.grid7Days {
    margin-top: 2rem;
}