.container,
.records {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.recordsWrapper {
  display: flex;
  flex-direction: column;
}

.miniHeader {
  font-size: 1.1rem;
  margin: 5px 0;

  color: var(--text-light);
}

.header {
  margin: 20px 0;
  font-size: 1.5rem;
}

.headerIcon {
  color: var(--complementary-color);
  padding: 0 1rem;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: bold;
}

.headerIcon:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .header {
    font-size: clamp(1.2rem, 5vw, 1.5rem);
  }

  .recordsWrapper {
    width: 100%;
  }

  .container, .records {
    padding: 10px;
  }
}
