.table {
  border-radius: 3px;
}

.row {
  display: table-row;
  border-spacing: 3px;
}

.dayCell {
  padding: 1.5rem;
  border: 1px solid var(--background-color-two);
  border-radius: 3px;
}

.key {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 5px;
  border-spacing: 3px;
}

.keyCell {
  width: 15px;
  height: 15px;
  border: 1px solid var(--background-color-two);
  margin: 0 1px;
  border-radius: 2px;
}

.keyLabel {
  font-size: 0.9rem;
}

.lessLabel {
  margin-right: 2px;
}

.moreLabel {
  margin-left: 2px;
}

.dayCell:hover {
  border: 1px solid var(--text-light);
}

.none {
  background-color: #000000;
}

.low {
  background-color: #004600;
}

.medium {
  background-color: #008002;
}

.high {
  background-color: #00be46;
}

.veryHigh {
  background-color: #57ff81;
}

.trafficExplanation {
  font-size: 1rem;
}

.bookingHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookingHeader {
  margin: 0;
  color: var(--complementary-color);
}

.bookingDetails {
  font-size: clamp(0.8rem, 3vw, 1rem);
  font-weight: 500;
}

.outerDetails {
  margin-top: 5px;
  padding: 12px 10px 5px 10px;
  border: 2px solid var(--background-color-two);
  border-radius: 3px;
  font-size: 1.2rem;
}

.innerDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  font-size: 0.9rem;
}

.date {
  margin: 0 8px;
}

@media (max-width: 768px) {
  .bookingDetails {
    font-size: 0.8rem;
  }

  .keyCell {
    width: 8px;
    height: 8px;
  }

  .dayCell {
    padding: 1.1rem;
    border: 1px solid var(--background-color-two);
    border-radius: 3px;
  }

  .row {
    border-spacing: 1px;
  }

  .outerDetails {
    padding: 10px 8px 5px 8px;
    font-size: 1rem;
  }

  .innerDetails {
    margin-top: 8px;
    font-size: 0.8rem;
  }

  .date {
    margin: 0 5px;
  }
}
